.events-container{
    margin-top: 15vh;
    padding: 1em 2em;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

}

.event-heading{
    width: 50%;
    display: block;
    margin: auto;
}
.events-head{
    padding: 0em;
    text-align: center;
}

.underline{
    display: block;
    margin: auto;
    border: 4px solid rgb(109, 108, 108);
    width: 30%;
}

.event-content{
    width: 98%;
    display: flex;
    margin-top: 2%;
    justify-content: center;
    padding: 2em 0.5em;
    flex-direction: column;
    align-items: center;
}
.event-desc{
    font-size: 1.3rem;
    width: 80%;
    text-align: center;
}

.events-carousel{
    margin-top: 2%;
    padding: 2em;
}

.flare{
    position: absolute;
    width: 20%;
    z-index: -1;
    height: 10vh;
    left: 5%;
    filter: blur(60px);
    background-color: rgb(14, 230, 215);
}